progressBar{
    color: aqua;
    }
    
    body {
         height: 1000px; 
         background-image: linear-gradient(green, yellow, blue, white) 
        /* background-image: src("images/worldcup.jpg"); */
       
     }
    
     h1{
         text-align: center
     }
    
     span {
    
        text-align: center;
     }
    
     .ihateboxes {
        text-align: center;
        margin-top: 50px
        
    }
    
     #mainPage {
         text-align: center
     }
    
     #questions{
        text-align: center
        
     }
    
     #start-btn {
         text-align: center
     }
    
      
     #bar {
         text-align: center
     }
    
     .answer-button {
        border: 2px solid black;
        background-color: transparent;
        color: black;
        padding: 10px 15px;
        font-size: 10px;
        cursor: pointer;
        align-self: auto;
    }